In [5]:
import os
import sys
import pandas as pd

In [3]:
#Define Paths
PROJECT_ROOT = os.path.join("/home/ar-in-u-301/Documents/codes", "review-recommendations")
DATA_PATH = os.path.join(PROJECT_ROOT, "data")

In [4]:
os.listdir(DATA_PATH)

['users.feather',
 'review.feather',
 'tip.feather',
 'business.feather',
 'friends_map.json']

In [7]:
#Read users , review, and business
users = pd.read_feather(os.path.join(DATA_PATH, "users.feather"))
review = pd.read_feather(os.path.join(DATA_PATH, "review.feather"))
tip = pd.read_feather(os.path.join(DATA_PATH, "tip.feather"))
business = pd.read_feather(os.path.join(DATA_PATH, "business.feather"))

In [8]:
users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,fans,average_stars,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,267,3.91,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3138,3.74,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013",52,3.32,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011",28,4.27,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,1,3.54,...,1,0,0,0,1,1,0,0,0,0

In [9]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [10]:
review['date'] = pd.to_datetime(review['date'])

In [11]:
review['date'].dt.year.min(), review['date'].dt.year.max()

(np.int32(2005), np.int32(2022))

In [12]:
review.shape

(6990280, 9)

In [14]:
review.groupby(by=review['date'].dt.year)['review_id'].count()

date
2005       854
2006      3853
2007     15363
2008     48226
2009     74387
2010    138587
2011    230813
2012    286570
2013    383950
2014    522275
2015    688415
2016    758882
2017    820048
2018    906362
2019    907284
2020    554557
2021    618189
2022     31665
Name: review_id, dtype: int64

In [17]:
#Let's keep year 2021, 2022 as Test
# Year 2019, 2020 as val
(
len(review[review['date'].dt.year <= 2018]) 
, len(review[(review['date'].dt.year > 2019) & (review['date'].dt.year < 2021)]) 
    ,len(review[review['date'].dt.year > 2020])
)

(4878585, 554557, 649854)

In [18]:
train = review[review['date'].dt.year <= 2018]
val = review[ (review['date'].dt.year > 2018) & (review['date'].dt.year < 2021) ]
test = review[review['date'].dt.year > 2020]

In [19]:
train.to_feather(os.path.join(DATA_PATH, "train_review.feather"))
val.to_feather(os.path.join(DATA_PATH, "val_review.feather"))
test.to_feather(os.path.join(DATA_PATH, "test_review.feather"))