In [1]:
import os
import sys
import pandas as pd

In [2]:
#Define Paths
PROJECT_ROOT = os.path.join("/home/ar-in-u-301/Documents/codes", "review-recommendations")
DATA_PATH = os.path.join(PROJECT_ROOT, "data")

In [3]:
os.listdir(DATA_PATH)

['test_review.feather',
 'users.feather',
 'review.feather',
 'val_review.feather',
 'tip.feather',
 'business.feather',
 'friends_map.json',
 'train_review.feather']

In [4]:
#Read users , review, and business
users = pd.read_feather(os.path.join(DATA_PATH, "users.feather"))
tip = pd.read_feather(os.path.join(DATA_PATH, "tip.feather"))
business = pd.read_feather(os.path.join(DATA_PATH, "business.feather"))

In [6]:
train = pd.read_feather(os.path.join(DATA_PATH, "train_review.feather"))

In [7]:
train.shape

(4878585, 9)

In [8]:
train.dtypes

review_id              object
user_id                object
business_id            object
stars                 float64
useful                  int64
funny                   int64
cool                    int64
text                   object
date           datetime64[ns]
dtype: object

In [9]:
train.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [11]:
# Let's check if for the same user and same business, are there any duplicates
sum( train.groupby('user_id')['business_id'].nunique() > 1 )

586151

# So there are duplicates, same user has gone to same business multiple times at different dates
# One solution seems relevant is to keep the latest review for each user and each business

In [17]:
train.sort_values(by=['user_id', 'business_id', 'date'], inplace=True, ascending=True)

In [18]:
train.shape

(4724063, 9)

In [19]:
train.drop_duplicates(subset=['user_id', 'business_id'], keep='last', inplace=True)

In [20]:
train.shape

(4724063, 9)

In [22]:
train.duplicated(subset=['user_id', 'business_id']).sum()

np.int64(0)

In [23]:
train.to_feather(os.path.join(DATA_PATH, "train_review.feather"))