In [4]:
import os
import sys
import pandas as pd

In [8]:
PROJECT_ROOT = os.path.join("/home/ar-in-u-301/Documents/codes", "review-recommendations")
DATA_PATH = os.path.join(PROJECT_ROOT, "data")

In [9]:
sys.path.append(PROJECT_ROOT)

# Let's look at how many data points we have , users and business

In [10]:
train = pd.read_feather(os.path.join(DATA_PATH, "train_review.feather"))

In [11]:
train['user_id'].nunique(), train['business_id'].nunique()

(1392850, 138212)

# Users: 14 Lakh, Business: 1.4 Lakh

In [12]:
train.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
1094389,rJ3CASyRfG-7ZviCBFCJQg,---1lKK3aKOuomHnwAkAow,f19eLfhXqR47Ct8Hz2y_pA,5.0,0,0,0,I hard think luxurious experience begins to de...,2018-12-19 22:26:22
2692140,S6qcxvgYMymqVlWcaNDm2Q,---2PmXbF47D870stH1jqA,0ZsqqzHu1HHkDdIKoivi5g,5.0,2,0,2,The TAMPA TREASURE and his TEAM have hit anoth...,2016-08-23 21:25:13
5792002,c4epF4UIlXj1gvDsBa6cIA,---2PmXbF47D870stH1jqA,1An4DxtMmvvSe0HX4viRCA,5.0,0,0,0,This is our go to restaurant for Italian Food....,2014-11-02 13:47:48
4552277,NodVS_DFat6-vXLioCGGhg,---2PmXbF47D870stH1jqA,3YqUe2FTCQr0pPVK8oCv6Q,5.0,1,0,1,Girls night out.... Eric T was our waiter.... ...,2015-09-30 12:42:34
2617903,keNOvKVgHOyIGmZNnMXJHw,---2PmXbF47D870stH1jqA,3gXgILE2YWVidJDvVWBT6Q,5.0,2,0,1,Shame on me for nor writing a review sooner......,2016-05-21 01:10:35

In [13]:
train['user_id'].isnull().sum(), train['business_id'].isnull().sum(), train['stars'].isnull().sum()

(np.int64(0), np.int64(0), np.int64(0))

In [14]:
# Encode IDs to integers
train['user_idx'] = train['user_id'].astype('category').cat.codes
train['business_idx'] = train['business_id'].astype('category').cat.codes

In [15]:

# Save mappings
user_mapping = dict(enumerate(train['user_id'].astype('category').cat.categories))
business_mapping = dict(enumerate(train['business_id'].astype('category').cat.categories))

# Reverse mappings for lookup (original -> idx)
user_to_idx = {v: k for k, v in user_mapping.items()}
business_to_idx = {v: k for k, v in business_mapping.items()}